body {
    background-color: rgb(4,98,64);
}

.hand {
    display: flex;
    margin: auto auto;
    justify-content: space-evenly;
}

.card {
    width: 110px;
    height: 153px;
    background-size: cover;
}